/*  your css code here. If applicable */
h1{
	text-align: center;
}
.middle{
/* 	justify-content:center */
/* 	text-align : center; */
	margin-left: auto;
	margin-right: auto;
}
table{
	width: 100%;
	margin: 50px;
/* 	cell-spacing: 5px; */
}
td{
	height: 10px;
}
.right{
	text-align: right;
}
.center{
	text-align: center;
}